.yenile-sifre{


padding: 40px 190px;

    h3{
        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: #2b484d;
    }

    .menu-yenile-button{
       
        display: flex;
        justify-content: center;
        

    }
}